.navbar {
 font-weight: 500;
 letter-spacing: .05em;
 background-color: rgb(51, 51, 51);
}

.home-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  vertical-align: baseline;
  max-height: 65px;
}

.navbar li {
  color: #000;
}

.navbar-right {
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}


.navbar-text {
  font-weight: 300;
  letter-spacing: .05em;
  margin-top: 40px;
  font-style: italic;
  color: #ffffff !important;
  font-family: 'PT Sans', sans-serif;
  font-weight: 00;
}

body {
  background-color: white;
}

.intro {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 700;
  color: rgb(51,51,51);
}

.rate-description {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  margin: 3%;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}


.header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.title {
  font-family: 'Roboto', sans-serif;
}

.slider-1 {
  margin: 2% 5%;
  background: #207979;
}

.slider-2 {
  margin: 2% 5%;
  background: #207979;
}

.slider-3 {
  margin: 2% 5%;
  background: #207979;
}

.slider-4 {
  margin: 2% 5%;
  background: #207979;
}

.price-description {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-left: 40px;
  color: rgb(51,51,51);

}

#final-price {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #207979;
}

.price-1 {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.price-2 {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.price-3 {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.price-4 {
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.custom {
  border: solid grey 3px; 
  padding-bottom: 50px;
}

.price-options {
  border: solid grey 3px; 
  padding-bottom: 50px;
  align-content: center;
  margin: 10px;
  margin-bottom: 5%;
  height: 350px;
}

.price-options li {
  list-style-type: none;
  float: none;
}

.set {
  margin-left: 10%;
}

.set-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-top: 30px;
  margin-left: 25%;
  color: #207979;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

ul {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
  line-height: 2em;
  font-size: 14px;
}


.break {
  height: 100px;
}



.contact {
  background-color: rgb(51,51,51);
}

.footer {
  display: block;
  max-height: 65px;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px;
  margin-left: 30%;
  align-content: center;
  background-color: rgb(51,51,51);
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-content: center;
}

.footer li {
  float: left;
  margin-left: 25px;
}


.social {
  max-height: 65px;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .price-options {
    height: 550;
  }

}


@media only screen and (max-width:770px) {
  .price-options {
    margin-left: 1px;
  }

}


@media only screen and (max-width:675px) {
  #other {
    display: none;
  }




@media only screen and (max-width:600px) {
 .price-1 {
  margin-top: 50px;
 }

 .price-2 {
  margin-top: 50px;
 }

  .price-3 {
  margin-top: 50px;
 }

  .price-4 {
  margin-top: 50px;
 }

 .price-description {
  text-align: center;
 }

.set {
  margin-left: 1px;
}

}


