   
.navbar {
 font-weight: 500;
 letter-spacing: .05em;
}

.home-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  vertical-align: baseline;
  max-height: 65px;
}

.navbar {
  background-color: rgb(51,51,51);
}

.navbar li {
  color: #000;
}

.navbar-right {
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar-text {
  font-weight: 300;
  letter-spacing: .05em;
  margin-top: 40px;
  font-style: italic;
  color: #ffffff !important;
  font-family: 'PT Sans', sans-serif;
  font-weight: 00;
}


.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}


.intro {
  font-family: 'Roboto', sans-serif;
}

#container {
    width: 100%;
    max-width: 700px;
    margin: 2em auto;
}
.cols {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}
.box {
    margin-bottom: 20px;
}
.box.one {
    width: 200px;
    height: auto;
}
.box.two {
    width: 200px;
    height: auto;
}
.box.three {
    width: 200px;
    height: auto;
}
.box.four {
    width: 200px;
    height: auto;
}
.box.five {
    width: 200px;
    height: auto;
}
.box.six {
    width: 200px;
    height: auto;
}


.contact {
  color: white;
  font-family: 'PT Sans', sans-serif;
  height: 120px;
  margin-bottom: 30px;
  align-content: center;
  background-color: rgb(51,51,51);
}


.footer {
  display: block;
  max-height: 65px;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px;
  margin-left: 30%;
}


.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-content: center;
}

li {
  float: left;
  margin-left: 25px;
}


.social {
  max-height: 65px;
}

@media only screen and (max-width:675px) {
  #other {
    display: none;
  }

}