   
.navbar {
 font-weight: 500;
 letter-spacing: .05em;
}

.home-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  vertical-align: baseline;
  max-height: 65px;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar li {
  color: #000;
}

.navbar-right {
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}


.navbar-text {
  font-weight: 300;
  letter-spacing: .05em;
  margin-top: 40px;
  font-style: italic;
  color: #ffffff !important;
  font-family: 'PT Sans', sans-serif;
  font-weight: 00;
}




.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}



body {
  background: url("https://s3-us-west-2.amazonaws.com/boothby-media/lighthouse.jpg") fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.work {
  display: block;
  border-color: #ffffff;
  border-width: 3px;
  border-style: solid;
  padding: 15px;
  width: 200px;
  transition: all .2s;
  font-family: 'PT Sans', sans-serif;
}

.jumbotron {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.jumbotron h1 {
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 15px;
  padding-left: 25px;
}

.jumbotron p {
  font-family: 'PT Sans', sans-serif;
  color: #ffffff; 
  font-size: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.work {
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.intro {
  background-color: white;
  padding: 10%;
}

.image-container {
  background-color: white;
  padding-bottom: 30px;
}


.images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    opacity: 0.4;
    position: relative; 
}

.images:hover {
  opacity: 1;
}

.img-content {
  position: absolute;
  margin-top: 25%;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  width: 92%;
}

.img-content h2 {
  font-weight: 700;
  font-size: 60px;
}
